*{
    
    margin: 0;
    padding: 0;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}
ul{
    list-style: none;
}

h1,h2,h3,h4{
    color: #fff;
}

a{
    color:#fff;
    text-decoration: none;
}

p{
    margin: 0.5rem 0;
}

img{
    width: 100%;
}

.showcase{
    position: relative;
    width: 100%;
    height: 93vh;
    background: url(../images/background.jpeg);
}

/*decrease opacity and put box shadow inside content*/
.showcase::after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background:rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #000000,
                inset -120px -100px 250px #000000;
}


.showcase-top{
    position: relative;
    z-index: 3;
    height: 90px;
}

.showcase-top img{
    width: 170px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.showcase-top a{
    position: absolute;
    top:50%;
    right: 0;
    transform: translate(-50%,-50%);
}

.showcase-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    margin-top: 9rem;
    text-align: center;
    position: relative;
    z-index: 3;
}

.showcase-content h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.6;
}

.showcase-content p{
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
}

/*----buttonns----*/
.btn{
    display: inline-block;
    background: #E50914;
    font-size: 1rem;
    padding:0.5rem 0.9rem;
    border-radius: 2px;
    border:none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
}

.btn:hover{
    opacity: 0.9;
}

.btn-rounded{
    border-radius: 8px;
}

.btn-xl{
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
}

/*---------hide the tab contents initially--------*/
#tab-1-content,
#tab-2-content,
#tab-3-content
 {
    display: none; 
}

.show{
    display: block !important;
}

/*---tabs---*/
/*dark color 141414*/
.tabs{
    background: #141414;
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
}

.tabs .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    align-items: center;
   justify-content: center;
   text-align: center;
}

.container{
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.tabs p{
    font-size: 1.5rem;
    padding-top: 0.5rem;
}

.tabs .container > div{
    padding: 1.5rem 0;
}

.tabs .container > div:hover{
    color:#fff;
    cursor: pointer;
}

.tab-border{
    border-bottom: #E50914 4px solid;
}

/*------------tab content------------*/
.tab-content{
    padding: 3rem 0;
    color: #fff;
}

#tab-1-content .tab-1-content-inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 2rem;
}

/*------text styles-------*/
.text-lg{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.text-dark{
    font-size: 1.3rem;
    color:#3d3d3d
}
.text-med{
    font-size :1.2rem;
}
.text-center{
    text-align: center;
}
/*tab 2 content*/

#tab-2-content .tab-2-content-top{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
}

.btn-lg{
    padding:0.5rem 1rem ;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #fff;
    border-radius: 7px;
    text-align: center;
}

#tab-2-content .tab-2-content-bottom{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*--tab3 content-------*/

.table{
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;
}

.table thead th{
    text-transform: uppercase;
    padding: 0.8rem;
}

.table tbody td{
    text-align: center;
    color:#999;
    padding: 0.7rem 1.7rem;
}

tbody tr td:first-child{
    text-align: left;
}

tbody tr:nth-child(odd){
    background: #222;
}


/*------footer-----------*/

.footer{
    max-width: 65%;
    margin:1rem auto;
    overflow: auto;
}

.footer,
.footer a{
    color:#999;
    font-size:1rem;
}

.footer p{
    margin-bottom: 1rem;
}

.footer .footer-cols{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:1rem;
    justify-content: center;
    align-items: center;
}

.footer-cols ul li{
    line-height: 2;
}

/*------------media queries ----------------*/

@media(max-width:700px){
    .showcase-top img{
        top:10%;
        left:5%;
        transform: translate(0);
    }
    
    .hide-sm{
        display: none;
    }

    .footer .footer-cols{
        grid-template-columns: repeat(2,1fr);
    }

    #tab-1-content .tab-1-content-inner{
        grid-template-columns: 1fr;
        text-align: center;
    }

    #tab-2-content .tab-2-content-top{
        display: block;
        text-align: center;
    }

    #tab-2-content .tab-2-content-bottom{
        grid-template-columns: 1fr;
    }
}